* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    width: 360px;
    border: 2px solid grey;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#container h1 {
    background-color: darkblue;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: normal;
}
#container .fa-plus {
    float: right;
}
#container ul {
    list-style-type: none;
}
#container ul li {
    background-color: white;
    height: 40px;
    line-height: 40px;
}
#container li:hover span{
    width: 40px;
    opacity: 1;
}
#container ul li:nth-child(2n) {
    background-color: #f7f7f7;
}
#container span {
    background-color: red;
    color: white;
    height: 40px;
    display: inline-block;
    width: 0;
    margin-right: 20px;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

#container input {
    height: 40px;
    width: 100%;
    background-color: #f7f7f7;
    font-size: 18px;
    font-weight: normal;
    padding-left: 20px;
}
#container input:focus {
    border: 3px solid grey;
    outline: none;
}
.completed {
    color: grey;
    text-decoration: line-through;
}